/*RESET*/
* {
    backgrolor: rgb(177, 108, 18);
/*----------------debug--------------*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*-------------------------------BODY-------------------------------------*/

body {
    font-family: Helvetica Neue;
}

/*----------------------------HEADER--------------------------*/
header {
    backgrolor: rgb(82, 182, 212);
/*----------debug-------------*/
    padding: 0px 20% 20px;
    min-height: 50px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.container {
    backgrolor: rgb(202, 107, 29);
/*----------------debug------------*/
    display: flex;
    height: 100%;
    flex-direction: row;
}

/*----------------------------HEADER ELEMENTS------------------------*/
.header1 {
    boer: 2px black dashed;
/*------------debug---------------*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    padding: 10px;
}

.header2 {
    boer: 2px black dashed;
/*--------------debug------------*/
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 60%;
    padding: 10px;
    font-size: 1rem;
}

.header2 a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.header3 {
    boer: 2px black dashed;
/*---------------debug------------*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    padding: 7px;
}

.header3 a {
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 40px;
    padding: 10px
}

/*--------------------------jumbotron---------------------------------------*/
.lilla-section {
    display:flex;
    background-color: rgb(192, 75, 139);
    width: 600px;
    margin: 0 auto;
}

/*------------------------------MAIN----------------------------------------*/
/*----------------------------SECTIONS--------------------------*/
.row {
    margin: 0 auto;
    padding: 20px 20%;
    min-height: 300px;
    display: flex;
}

/*-------------------------colored rows----------------------------*/
.blue {
    backgrolor: rgb(37, 37, 204);
    /*debug*/
}

.white {
    background-color: white;
}

.grey {
    background-color: lightgrey;
}

/*--------------------------colored sections-----------------------*/
.pink-section {
    display:flex;
    background-color: rgb(250, 143, 161);
    width: 40%;
}
.blue-section {
    display:flex;
    background-color: rgb(49, 49, 255);
    width: 60%;
}

.green-section {
    display:flex;
    background-color: rgb(35, 104, 56);
    width: 100%;
    min-height: 600px;
}

/*---------------------------------FOOTER------------------------------------*/
/*--------------------------1rst FOOTER--------------------------*/
.row-footer {
    margin: 0 auto;
    padding: 7px 20% 20px;
    min-height: 100px;
    display: flex;
    border-bottom: 2px white;
    flex-direction: row;
}

.dark {
    background-color: rgb(18, 30, 34);
}

/*--------------------------1rstfooter sections--------------------------*/
.col {
    display: flex;
    height: 300px;
    border: 2px black dashed;
    width: calc(100% / 5 + 12%);
}

.col2 {
    display: flex;
    height: 300px;
    border: 2px white dashed;
    width: calc(100% / 5 - 3%);
}

.pink {
    background-color: rgb(201, 114, 128);
}

.light-blue {
    background-color: rgb(40, 190, 216);
}

/*--------------------------2nd FOOTER--------------------------*/
.row-footer2 {
    margin: 0 auto;
    padding: 20px 20% 0px;
    min-height: 100px;
    display: flex;
    border-top: 2px white;
}

.dark2 {
    background-color: rgb(18, 30, 34);
}

/*--------------------------2nd footer sections--------------------------*/
.last-thing {
    backgrolor: aquamarine;
/*-------------debug------------*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}

img {
    boer: 2px black dashed;
/*----------debug-------*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    
}

.last-thing a {
    boer: 2px black dashed;
/*---------debug---------*/
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
    color: white;
    text-decoration: none;
    background-color: rgb(87, 90, 250);
}