/*RESET*/
* {
    backgrolor: rgb(177, 108, 18);
/*----------------debug--------------*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*----------------------------------------BODY--------------------------------------------*/

body {
    font-family:Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*---------------------------------------HEADER-----------------------------------------*/
header {
    backgrolor: rgb(82, 182, 212);
/*----------debug-------------*/
    padding: 0px 20% 20px;
    min-height: 50px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.container {
    backgrolor: rgb(202, 107, 29);
/*----------------debug------------*/
    display: flex;
    height: 100%;
    flex-direction: row;
}

/*-----------------------------------HEADER ELEMENTS-----------------------------------*/
.header1 {
    boer: 2px black dashed;
/*------------debug---------------*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    padding: 10px;
}

.header2 {
    boer: 2px black dashed;
/*--------------debug------------*/
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 60%;
    padding: 10px;
    font-size: 1rem;
}

.header2 a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.header3 {
    boer: 2px black dashed;
/*---------------debug------------*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    padding: 7px;
}

.header3 a {
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 40px;
    padding: 10px
}

/*--------------------------------jumbotron-----------------------------------*/

.header-row {
    margin: 0 auto;
    padding: 20px 20%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}


.lilla-section {
    backgrolor: rgb(192, 75, 139);
/*------------------debug------------------*/
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 20px;
    align-content: center;
}

.lilla-section h2 {
    color: white;
    padding-bottom: 20px;
    margin: 0 auto;
}

.lilla-section p {
    color: white;
    padding-bottom: 20px;
    margin: 0 auto;
}

.lilla-section2 {
    backgrolor: rgb(192, 75, 139);
/*------------------debug------------------*/
    display:flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.first-button {
    display:flex;
    padding: 10px;
    border-radius: 40px;
    text-decoration: none;
    color: black;
    background-color: white;
    text-align: center;
    vertical-align: middle;
}

.second-button {
    display:flex;
    padding: 10px;
    border-radius: 40px;
    color: white;
    text-decoration: none;
    background-color: rgb(18, 30, 34);
    text-align: center;
}
/*--------------------------------------END HEADER------------------------------------*/






/*----------------------------------------MAIN-------------------------------------------*/
/*--------------------------------------SECTIONS-----------------------------------------*/
.row {
    margin: 0 auto;
    padding: 20px 20%;
    min-height: 300px;
    display: flex;
}

/*-------------------------colored rows----------------------------*/
.blue {
    backgrolor: rgb(37, 37, 204);
/*---------------debug---------------*/
}

.white {
    background-color: white;
}

.grey {
    background-color: rgb(197, 183, 183);
}

/*--------------------------colored sections-----------------------*/
.pink-section {
    backgrolor: rgb(250, 143, 161);
/*-------------debug--------------*/
    display:flex;
    flex-direction: column;
    width: 40%;
    font-size: 1.2rem;
    padding: 20px;
}
.blue-section {
    backgrolor: rgb(49, 49, 255);
/*-------------debug--------------*/
    display:flex;
}

.green-section {
    backgrolor: rgb(35, 104, 56);
/*-------------debug--------------*/
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height: 600px;
    font-size: 1.2rem;
    padding: 20px;
}

/*-------------------------section's contents------------------------*/
.blue-section img {
    width: 100%;
}

.green-section img {
    width: 100%;
}

.green-section h2 {
    margin: 0 auto;
    padding: 20px;
}

.green-section p {
    margin: 0 auto;
}

.green-section h3 {
    margin: 0 auto;
    padding: 20px;
}

.green-section a {
    margin: 0 auto;
    padding: 10px;
    border-radius: 40px;
    color: white;
    text-decoration: none;
    background-color: rgb(87, 90, 250);
}

.green-section h3 {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: 103%;
}
/*--------------------------------------END MAIN--------------------------------------*/





/*--------------------------------------FOOTER------------------------------------------*/
/*----------------------------------1rst FOOTER-----------------------------------------*/
.row-footer {
    margin: 0 auto;
    display: flex;
    padding: 20px 20% 20px;
    min-height: 100px;
    border-bottom: 2px white;
    
}

.dark {
    background-color: rgb(18, 30, 34);
}

/*--------------------------1rstfooter sections--------------------------*/
.column {
    boer: 2px black dashed;
    backgrolor: rgb(201, 114, 128);
/*--------------------debug--------------------*/
    display: flex;
    min-height: 300px;
    width: calc(100% / 5 + 12%);
    flex-direction: column;
    padding: 0px 20px 0px 0px;
}

.column2 {
    backgrolor: rgb(40, 190, 216);
    boer: 2px white dashed;
/*--------------------debug------------------*/
    display: flex;
    min-height: 300px;
    
    width: calc(100% / 5 - 3%);
    flex-direction: column;
}

.light-blue {
    
}

/*------------------------1rst footer attributes---------------------*/
.column h3 {
    color: rgb(87, 90, 250);
    padding-bottom: 10px;
}

.column p {
    color: white;
    padding-bottom: 10px;
}

.column img {
    width: 20px;
}

.column i {
    color: white;
    height: 25px;
    padding: 5px;
}

.column2 h4 {
    color: rgb(87, 90, 250);
    padding-bottom: 10px;
}

.column2 p {
    color: white;
    padding-bottom: 10px;
}

/*-------------------------------------2nd FOOTER----------------------------------------*/
.row-footer2 {
    display: flex;
    margin: 0 auto;
    padding: 20px 20% 0px;
    min-height: 100px;
    border-top: 2px white;
}

.dark2 {
    background-color: rgb(18, 30, 34);
}

footer hr {
    size: 2px;
    color: rgb(87, 90, 250);
    padding: 0 20%;
}
/*----------------------2nd footer sections-----------------------*/
.last-thing {
    backgrolor: aquamarine;
/*-------------debug------------*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
    border-top: 2px solid rgb(87, 90, 250);
}

.last-thing img {
    boer: 2px black dashed;
/*----------debug-------*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    size: 100%;
}

.last-thing a {
    boer: 2px black dashed;
/*---------debug---------*/
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
    color: white;
    text-decoration: none;
    background-color: rgb(87, 90, 250);
}